
<div>
    <img src="https://icons.iconarchive.com/icons/aha-soft/free-large-boss/512/Admin-icon.png" alt="">
    <h1>Admin</h1>
    <h4>admin@gmail.com</h4>
</div>

<mat-divider></mat-divider>

<!-- list -->
<div class="pages">
    <h3>Pages</h3>
    <a routerLink="">Dashboard</a>
    <a routerLink="gallery">Gallery</a>
    <a routerLink="employees">Employees</a>
</div>
<div class="pages">
    <h3>Tools</h3>
<a routerLink="add-employee"> <mat-icon>person_add</mat-icon> Add Employee</a>
<a routerLink="lead-employee"><mat-icon>person</mat-icon>Lead</a>
</div>
  